@import "reset";
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Helvetica, STHeiti STXihei, Microsoft YaHei, Tohoma, Arial
}
#root {
  .main{width: 800px;margin: 20px auto;border:1px solid #7f7f7f;}
  //h1 {
  //  font-size: 24px;color: white;
  //  background: #ddd url(../images/1.png) no-repeat;
  //}

}